.share {
  margin: 0 auto;
  padding: 0;
}

.share__btn-temp {
  min-width: 53px;
  height: 25px;
  font-size: 16px;
  line-height: 14px;
  border: none;
  border-left: 1px black solid;
  border-bottom: 1px black solid;
  background-color: transparent;
  font-family: 'Formular';
  font-size: 16px;
  line-height: 14px;
}