.hero__image {
  margin: 0 0 45px 0;
  width: 100%;  
  height: 614px;
  object-fit: contain;
}

@media screen and (max-width: 799px) {
  .hero__image {
    width: 527.68px;
    height: 450px;    
    margin: 0 0 50px 0;       
    object-fit: auto;
    object-position: -65px 0px;
  }
}