.logo-with-text {
    width: 93px;
    height: 80px;
    margin-left: 51px;
    margin-top: 54px;
}

@media all and (min-width: 320px) and (max-width: 768px) {
    .logo-with-text {
        margin-left: 15%;
        margin-top: 56px;
    }
}