.logo-with-text {
    width: 93px;
    height: 80px;
    margin-left: 32px;
    margin-top: 42px;
}
@media all and (min-width: 320px) {
    .logo-with-text {
        margin-left: 51px;
        margin-top: 62px;
    }
}