.hero__title {
  margin: 52px 0 44px 0;
  font-size: calc(42px + 32 * (100vw - 800px) / 640);
  line-height: calc(40px + 30 * (100vw - 800px) / 640);
  letter-spacing: -0.01em;
  color: #242424;
}

@media screen and (max-width: 414px) {
  .hero__title {
    margin: 0 0 16px -14.7%;
    font-size: calc(32px + 8 * (100vw - 320px) / 94);
    line-height: 1;
  }
}

@media screen and (min-width: 415px) and (max-width: 799px) {
  .hero__title {
    margin: 0 0 16px -61px;
    font-size: 40px;
    line-height: 40px;
  }
}