.hero__title {
  margin: 62px 0 40px 0;
  font-size: min(40px + 32 * (100vw - 800px) / 640, 72px);
  line-height: min(40px + 30 * (100vw - 800px) / 640,70px);
  letter-spacing: -0.01em;
  color: #242424;
}

@media screen and (max-width: 414px) {
  .hero__title {
    margin: 0 0 17px -18%;
    font-size: calc(32px + 7 * (100vw - 320px) / 94);
    line-height: 1;
  }
}

@media screen and (min-width: 415px) and (max-width: 767px) {
  .hero__title {
    margin: 0 0 16px -61px;
    font-size: 40px;
    line-height: 40px;
  }
}