.button_anim-up{
    position: relative;
    color: #242424;
    fill: #242424;
    transition: all .5s ease; 
}
.button_anim-up:hover{

    color: #fff;
    fill: #fff;
}
.button_anim-up::before{
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #242424;
    transition: all .5s ease;    
}
.button_anim-up:hover:before{
    content: '';
    position: absolute;
    height: 100%;
}
.button_anim-up:active:before{
    content: '';
    transform: scale(1.1);
}