.footer__privacy {
    text-decoration: none;
    color: #242424;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}
@media screen and (min-width:320px) and (max-width: 768px) {
    .footer__privacy {
        text-decoration: underline;
        margin-top: 10px;
    }
}