.hero__subtitle {
  margin: 0 0 min(31px + 181 * (100vw - 768px) / 672, 212px) 60px;
  padding: 0;
  width: 58.4%;/*418px, 58%*/  
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #242424;
}

@media screen and (max-width: 767px) {
  .hero__subtitle {
    margin: 0 0 31px 0;
    width: 73.4%;
    /*304px, 73.4%*/
  }
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .hero__subtitle {
    font-size: calc(16px + 4 * (100vw - 320px) / 94);
    line-height: 1.2;
  }
}