.play__column_position_right {
    padding-right: 30px;
    gap: 66px;
}

@media screen and (max-width: 920px) {
    .play__column_position_right {
        padding: 24px 24px 30px;
        gap: 25px;
    }
    
}