.play__column_position_left {
    padding-left: 25%;
    gap: 20px;
}

@media screen and (max-width: 920px) {
    .play__column_position_left {
        background-color: var(--white);
    }
}

@media screen and (max-width: 415px) {
    .play__column_position_left {
        gap: 22px;
        padding-bottom: 50px;
        padding-left: 25px;
    }
}