.play__column_position_right {
    margin-right: 30px;
    row-gap: 66px;
    max-width: 691px;
}

@media screen and (max-width: 920px) {
    .play__column_position_right {
        padding: 24px 24px 30px;
        gap: 25px;
    }
    
}