.press-reviews__container {
  list-style: none;
  padding: 0;
  margin: 35px 0 0;
  min-height: 782px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  left: 362px;
  transition: all ease 1s;
}