.nav-wrapper__item{
    box-sizing: border-box;
    padding-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-inline-start: 0;
}
.nav-wrapper__item:hover > .icon-button__elipse-right{
    opacity: 1;
}
.nav-wrapper__item:hover > .icon-button__elipse-left{
    opacity: 1;
}