.header__btn-donat {
  margin: 0;
  padding: 11px 0 20px 17px;
  border: none;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  background-color: transparent;
  grid-column: 6;
  text-transform: uppercase;
  align-items: center;
  border-left: 1px solid black;
  font-family: 'Formular';
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .header__btn-donat {
    border-left: none;
  }
}