.hero__navigation {
  margin-bottom: 30px;
  padding-left: 30px;
  width: 100%;
}

@media screen and (max-width: 799px) {
  .hero__navigation {    
    padding-left: 0;
    width: auto;
    position: relative;
    top: -25.11px;
    left: 86px;/*20.5%*/ 
  }
}