.footer__credits_team {
    margin-top: 0;
    margin-right: 60px;
    width: 207px;
    margin-bottom: 0;
    font-family: 'Formular';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}
@media all and (min-width: 320px) and (max-width: 768px) {
    .footer__credits_team {
        margin-top: 16px;
        width: 70%;
    }
}