.header {
  margin: 0 auto 33px;
  position: relative;
  padding: 0 0 0 30px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, -webkit-min-content);
  grid-template-columns: repeat(6, min-content);
  justify-items: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  color: var(--coal);
  border-bottom: 1px solid var(--coal);
}

.header::before {
  content: "";
  display: block;
  width: 100%;
  background-color: transparent;
  height: 11px;
}

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 49px;
    height: 72px;
  }
  .header::before {
    display: none;
  }
}