.header {
  margin: 0 auto 33px;
  position: relative;
  padding: 0 0 0 30px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, min-content);
  justify-items: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  color: black;
  border-bottom: 1px solid black;
}

.header::before {
  content: "";
  display: block;
  width: 100%;
  background-color: transparent;
  height: 11px;
}