.menu-extra__about {
    list-style-type: none;
    margin-left: 80px;
    margin-top: 0;
    padding: 0;
}
@media all and (min-width: 320px) and (max-width: 768px) {
    .menu-extra__about {
        margin-left: -100px;
    }
}