.readings__info {
    margin: 0;
    font-family: 'Formular';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #242424;
    max-width: 155px;
    margin-top: 4px;
}

@media screen and (max-width: 425px) {
    .readings__info {
        margin-top: 8px;
    }
}