.partners__list_image {
    object-fit: contain;
    margin: 0;
    padding: 0;
 }
 .partners__list_image:first-child {
     margin-left: 48px;
     margin-right: -20px;
 }
 @media screen and (min-width:320px) and (max-width: 768px) {
     .partners__list_image_fond {
        display: grid;
        grid-area: fond;
     }
     .partners__list_image_mosbrew {
        display: grid;
        grid-area: mosbrew;
     }
     .partners__list_image_sbtg {
        display: grid;
        grid-area: sbtg;
     }
     .partners__list_image_pogovorit {
        display: grid;
        grid-area: pogovorit;
     }
 }