.hero {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto 68px;
  display: flex;
  flex-wrap: wrap;    
  font-family: 'Neue Machina', sans-serif;
  font-style: normal;
  font-weight: 400;
}


@media screen and (max-width: 799px) {
  .hero {
    max-width: 799px;
    margin: 0;
    padding-bottom: 100px;
  }
}