.photo-gallerey__title {
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: max(28px, calc(40 / 1440 * 100vw));
    line-height: max(32px, calc(40 / 1440 * 100vw));
    letter-spacing: -0.01em;
    color: #242424;
    max-width: calc(568 / 1440 * 100vw);
    margin-left: calc(362 / 1440 * 100vw);
}

@media screen and (max-width: 425px) {
    .photo-gallerey__title {
        margin-left: 24px;
    }
}