.button__burger-menu{
    position: absolute;
    z-index: 5;
    width: 72px;
    height: 72px;
    background-color: var(--coal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}