.photo-gallerey__block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
}

@media screen and (max-width: 768px) {
    .photo-gallerey__block {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 425px) {
    .photo-gallerey__block {
        grid-template-columns: repeat(2, 1fr);
        gap: 2px 3px;
    }
}