.button__burger-menu_top-strip{
    position: relative;
    width: 20px;
    border: 1px solid var(--grey-background);
    background-color: var(--grey-background);
    transition: all 0.3s ease-in-out;
}