.menu-extra__links {
    list-style-type: none;
    padding: 0;
    margin-right: 20px;
    margin-top: 0;
}
@media all and (min-width: 320px) and (max-width: 768px) {
    .menu-extra__links {
        margin: 0;
    }
}