.footer__credits {
    display: flex;
    flex-direction: row;
}
@media all and (min-width: 320px) and (max-width: 768px) {
    .footer__credits {
       margin-top: 60px;
       margin-left: 7%;
       margin-bottom: 74px;
       flex-direction: column;
    }
}