.menu-extra__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
}
@media all and (min-width: 320px) and (max-width: 768px) {
    .menu-extra__text {
        margin-top: 13px;
        font-size: 18px;
        line-height: 23px;
        font-feature-settings: 'ss01' on;
    }
}