.readings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
  /* margin-left: calc(720 / 1440 * 100vw); */
  margin-right: 50%;
}

@media screen and (max-width: 425px) {
    .readings {
        margin-bottom: 100px;
        margin-left: auto;
    }
}