.play {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 80px;
}

@media screen and (max-width: 920px) {
    .play {
        display: flex;
        flex-direction: column;
    }
}