.share__text {
  margin: 0;
  padding: 0;
  font-family: 'Neue Machina';
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01em;
  text-align: left;
  transition: all 0.3s linear;
}

@media screen and (max-width: 768px) {
  .share__text {
    width: 363px;
  }
}