.share__photo {
  margin: 0 auto 52px;
  padding: 0;
  display: block;
  width: 1320;
  height: 404px;
  max-width: 1320px;
  transition: all 0.3s linear;
}

@media screen and (max-width: 768px) {
  .share__photo {
    width: 100%;
  }
}