.nav-wrapper__link{
    box-sizing: border-box;
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #242424;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all .5s ease;
    height: 50px;
}

/* .nav-wrapper__link:hover:after{
    content: '';
    background-image: url(../../../images/ui/slider-elips.svg);
    width: 25px;
    height: 50px;

}
.nav-wrapper__link:hover:before{
    content: '';  
    background-image: url(../../../images/ui/slider-elips.svg);
    width: 25px;
    height: 50px; 
    transform: rotate(180deg);
} */