.slider-container {
  width: 718px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@media screen and (min-width: 414px) and (max-width: 869px) {
  .slider-container {
    width: 365px;
  }
}