@import url(../vendor/fonts.css);
@import url(../vendor/normalize.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page-container/page-container.css);
@import url(../blocks/body/body.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__links/menu__links.css);
@import url(../blocks/social/social.css);
@import url(../blocks/donation/donation.css);
@import url(../blocks/hero/hero.css);
@import url(../blocks/hero/__navigation/hero__navigation.css);
@import url(../blocks/hero/__column/hero__column.css);
@import url(../blocks/hero/__column/_position/hero__column_position_left.css);
@import url(../blocks/hero/__title/hero__title.css);
@import url(../blocks/hero/__subtitle/hero__subtitle.css);
@import url(../blocks/hero/__date/hero__date.css);
@import url(../blocks/hero/__image/hero__image.css);
@import url(../blocks/hero/__project-description/hero__project-description.css);
@import url(../blocks/play/play.css);
@import url(../blocks/play/__column/play__column.css);
@import url(../blocks/play/__column/_position/play__column_position_left.css);
@import url(../blocks/play/__column/_position/play__column_position_right.css);
@import url(../blocks/play/__info/play__info.css);
@import url(../blocks/play/__info-text/play__info-text.css);
@import url(../blocks/play/__divider/play__divider.css);
@import url(../blocks/play/__data/play__data.css);
@import url(../blocks/play/__data-position/play__data-position.css);
@import url(../blocks/play/__data-name/play__data-name.css);
@import url(../blocks/play/__video/play__video.css);
@import url(../blocks/play/__text/play__text.css);
@import url(../blocks/play/__paragraph/play__paragraph.css);
@import url(../blocks/play/__paragraph/_decorated/play__paragraph_decorated_red-line.css);
@import url(../blocks/readings/readings.css);
@import url(../blocks/photo-gallery/photo-gallery.css);
@import url(../blocks/press-reviews//press-reviews.css);
@import url(../blocks/audience-reviews/audience-reviews.css);
@import url(../blocks/share/share.css);
@import url(../blocks/readings/__author/readings__author.css);
@import url(../blocks/readings/__button/readings__button.css);
@import url(../blocks/readings/__card/readings__card.css);
@import url(../blocks/readings/__info/readings__info.css);
@import url(../blocks/readings/__title/readings__title.css);
@import url(../blocks/photo-gallery/photo-gallery.css);
@import url(../blocks/photo-gallery/__title/photo-gallerey__title.css);
@import url(../blocks/photo-gallery/__block/photo-gallerey__block.css);
@import url(../blocks/photo-gallery/__item/photo-gallerey__item.css);
@import url(../blocks/photo-gallery/__title/photo-gallerey__title.css);
@import url(../blocks/press-reviews//press-reviews.css);

@import url(../blocks/audience-reviews/audience-reviews.css);
@import url(../blocks/audience-reviews/__title-container/audience-reviews__title-container.css);
@import url(../blocks/audience-reviews/__title/audience-reviews__title.css);
@import url(../blocks/audience-reviews/__container/audience-reviews__container.css);
@import url(../blocks/audience-review/audience-review.css);
@import url(../blocks/audience-review/__text/audience-review__text.css);
@import url(../blocks/audience-review/__author/audience-review__author.css);
@import url(../blocks/slider-navigation/slider-navigation.css);
@import url(../blocks/slider-navigation/__dots/slider-navigation__dots.css);
@import url(../blocks/slider-navigation/__dot/slider-navigation__dot.css);
@import url(../blocks/slider-navigation/__dot/_active/slider-navigation__dot_active.css);
@import url(../blocks/slider-navigation/__buttons/slider-navigation__buttons.css);

@import url(../blocks/share/share.css);
@import url(../blocks/share/__temp/share__temp.css);
@import url(../blocks/share/__photo/share__photo.css);
@import url(../blocks/share/__text/share__text.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/logo-with-text/);
@import url(../blocks/partners/partners.css);
@import url(../blocks/address/address.css);
@import url(../blocks/menu-extra/menu-extra.css);
@import url(../blocks/menu-extra/__links/menu-extra__links.css);
@import url(../blocks/footer/__additional-info/footer__additional-info.css);
@import url(../blocks/footer/__copyright/);
@import url(../blocks/footer/__privacy/footer__privacy.css);
@import url(../blocks/footer/__credits/footer__credits.css);
@import url(../blocks/footer/__credits/footer__credits.css);

@import url(../blocks/button/button.css);
@import url(../blocks/button/__big/button__big.css);
@import url(../blocks/button/__normal/button__normal.css);
@import url(../blocks/button/__normal/_large/button__normal_large.css);
@import url(../blocks/button/__normal/_middle-big/button__normal_middle-big.css);
@import url(../blocks/button/__normal/_middle/button__normal_middle.css);
@import url(../blocks/button/__normal/_small/button__normal_small.css);
@import url(../blocks/button/_anim-diagonal/button_anim-diagonal.css);
@import url(../blocks/button/_anim-down/button_anim-down.css);
@import url(../blocks/button/_anim-down/_no-border/button_anim-down_no-border.css);
@import url(../blocks/button/_anim-left/button__normal_anim-left.css);
@import url(../blocks/button/_anim-right/button_anim-right.css);

