.button__big{
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    height: 56px;
    border: 1px solid black;
    background-color: inherit;
}