.play__info-text {
    margin: 0;
    font-family: 'Neue Machina';
    font-size: 28px;
    line-height: 1.14;
    font-weight: 400;
    letter-spacing: -0.01em;
    color: #242424;
}

@media screen and (max-width: 415px) {
    .play__info-text {
        letter-spacing: 0;
    }
    
}