.partners__list_title {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    width: 100px;
    list-style-type: none;
}
.partners__list_title_mobile {
    display: none;
}
@media screen and (min-width:320px) and (max-width: 768px) {
    .partners__list_title_mobile {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        list-style-type: none;
    }
    .partners__list_title {
        font-size: 14px;
        line-height: 17px;
        width: 160px;
    }
}