.menu__social-links {
  margin: 0 auto;
  padding: 0 22px 0 27px;
  list-style: none;
  grid-column: 4;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, auto);
  grid-gap: 16px;
  max-width: 207px;
}