.menu__social-links {
  margin: 0 auto;
  padding: 10px 24px 20px 24px;
  list-style: none;
  grid-column: 4;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, auto);
  grid-gap: 16px;
  max-width: 207px;
  transition: all linear 0.3s;
}

@media screen and (max-width: 1280px) {
  .menu__social-links {
    display: none;
  }
}