.menu-extra {
    display: flex;
    margin-top: 3px;
    justify-content: flex-end;
    width: 100%;
    margin-right: 85px;
}
@media all and (min-width: 320px) and (max-width: 768px) {
    .menu-extra {
        margin: 0;
        padding: 0;
        margin-left: 14%;
        margin-right: 10%;
        margin-top: 45px;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: max-content;
        row-gap: 20px;
        column-gap: 0;
    }
}