.menu__links {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 44px;
  height: 100%;
}

@media screen and (max-width: 2014px) {
  .menu__links {
    gap: 22px;
  }
}

@media screen and (max-width: 768px) {
  .menu__links {
    gap: 22px;
  }
}