.audience-reviews__container {
  list-style: none;
  padding: 0;
  margin: 55px 0 0;
  display: flex;
  gap: 30px;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

@media screen and (min-width: 414px) and (max-width: 869px) {
  .audience-reviews__container {
    margin: 24px 0 0;
  }
}