.share__text-container {
  margin: 0 auto;
  padding: 57px 0 0 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 720px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .share__text-container {
    width: 88%;
    padding-top: 27px;
  }
}