.menu {
  margin: 0;
  padding: 11px 42px 20px 43px;
  box-sizing: border-box;  
  grid-column: 2;
  display: flex;
  align-items: center;
  height: 100%;
  border-right: 1px solid var(--coal);
}

@media screen and (max-width: 1280px) {
  .menu {
    padding: 11px 22px 20px 22px;
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    padding: 11px 22px 20px 22px;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}